// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #FFFFFF !default;
$header-bg-color: #000000 !default;
$header-bg-color-secondary: #000000 !default;

// Text
$section-headings-color: RGBA(0, 0, 0, .65) !default;
$body-text-color: RGBA(0, 0, 0, .8) !default;
$body-link-color: #008ace !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #F0F0F0 !default;
$code-text-color: #24292e !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
